<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.myapp.board.BoardMapper">
<!-- 이름영역 만듦 -->
<!-- CREATE TABLE SELL_PH_BOARD(
PB_NUM NUMBER PRIMARY KEY,
WRITER VARCHAR2(20) NOT NULL,
TITLE VARCHAR2(50) NOT NULL,
CONTENT VARCHAR2(1000) NOT NULL,
MODEL VARCHAR2(30) NOT NULL,
COUNT NUMBER NOT NULL,
PRODUCT_NAME VARCHAR2(30) NOT NULL,
PRICE NUMBER NOT NULL,
COLOR VARCHAR2(20),
AGENCY VARCHAR2(20),
STATEMENT CHAR(1),
IMG_PATH VARCHAR2(500),
W_DATE DATE DEFAULT SYSDATE
) -->

	<resultMap type="com.kitri.myapp.board.Article" 
	id="boardResultMap">
		<result property="pb_num" column="pb_num" />
		<result property="writer" column="writer" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="model" column="model" />
		<result property="count" column="count" />
		<result property="color" column="color" />
		<result property="agency" column="agecny" />
		<result property="statement" column="statement" />
		<result property="img_path" column="img_path" />
		<result property="w_date" column="w_date" />
	</resultMap>
		
	<select id="select" resultMap="boardResultMap" parameterType="int">
		SELECT * FROM sell_ph_board where pb_num=#{pb_num}
	</select>
	
	<select id="selectAll" resultMap="boardResultMap">
		select * from sell_ph_board order by pb_num desc 
	</select>

	<select id="selectByParentNum" resultMap="boardResultMap" 
	parameterType="int">
		select * from sell_ph_board where parent=#{parent}
	</select>

	
	<select id="selectByWriter" resultMap="boardResultMap" 
	parameterType="String">
		select * from sell_ph_board s, member m where m.num = s.num and m.name=#{name}
	</select>
	
	<select id="selectBytitle" resultMap="boardResultMap" 
	parameterType="String">
		select * from sell_ph_board where title=#{title}
	</select>
	
	<select id="selectBycontent" resultMap="boardResultMap" 
	parameterType="String">
		select * from sell_ph_board where content = %#{content}%
	</select>
	
	
	<insert id="insert" 
	parameterType="com.kitri.myapp.board.Article" >
		insert into sell_ph_board VALUES(SEQ_sell_ph_board.nextval, #{writer}, #{title}, #{content}, #{content}, #{model}, #{count}, #{product_name}, #{color}, #{agency}, #{statement}, #{img_path}, sysdate)
	</insert>
	
	<update id="update" parameterType="com.kitri.myapp.board.Article">
		UPDATE sell_ph_board SET w_date = sysdate, TITLE=#{TITLE}, CONTENT=#{CONTENT}, model=#{model}, count = #{count}, agency = #{agency}, statement = #{statement}, img_path = #{img_path} where pb_num=#{pb_num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM sell_ph_board WHERE pb_num=#{pb_num}
	</delete>

</mapper>
