<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.myapp.busket.BusketMapper">
<!-- CREATE TABLE BUSKET(
BK_NUM NUMBER,
WRITER VARCHAR2(20) NOT NULL,
TITLE VARCHAR2(50) NOT NULL,
CONTENT VARCHAR2(1000) NOT NULL,
MODEL VARCHAR2(30) NOT NULL,
COUNT NUMBER NOT NULL,
PRODUCT_NAME VARCHAR2(30) NOT NULL,
PRICE NUMBER NOT NULL,
COLOR VARCHAR2(20),
AGENCY VARCHAR2(20),
STATEMENT CHAR(1),
IMG_PATH VARCHAR2(500)`,
B_DATE DATE DEFAULT SYSDATE
) -->
	<resultMap type="com.kitri.myapp.busket.Busket" id="BusketResultMap">
		<result property="bk_num" column="bk_num" />
		<result property="writer" column="writer" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="model" column="model" />
		<result property="count" column="count" />
		<result property="product_name" column="product_name" />
		<result property="price" column="price" />
		<result property="color" column="color" />
		<result property="agency" column="agecny" />
		<result property="statement" column="statement" />
		<result property="b_date" column="b_date" />
		<result property="m_num" column="m_num" />
		<result property="pb_num" column="pb_num" />
	</resultMap>
		
	<resultMap type="com.kitri.myapp.sell.SellBoard" id="SellResultMap">
		<result property="pb_num" column="pb_num" />
		<result property="writer" column="writer" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="model" column="model" />
		<result property="count" column="count" />
		<result property="product_name" column="product_name" />
		<result property="price" column="price" />
		<result property="color" column="color" />
		<result property="agency" column="agecny" />
		<result property="statement" column="statement" />
		<result property="img_path" column="img_path" />
		<result property="w_date" column="w_date" />
	</resultMap>
	
	<resultMap type="com.kitri.myapp.member.Join" 
	id="JoinResultMap">
		<result property="m_num" column="m_num" />
		<result property="name" column="name" />
		<result property="pass" column="pass" />
		<result property="phone_num" column="phone_num" />
		<result property="address" column="address" />
		<result property="email" column="email" />
		<result property="cash" column="cash" />
	</resultMap>
	
	<select id="select_name" resultMap="JoinResultMap" parameterType="String">
		SELECT * FROM member where name=#{name}
	</select>

	<select id="select" resultMap="SellResultMap" parameterType="int">
		SELECT * FROM sell_ph_board where pb_num=#{pb_num}
	</select>
	
	<select id="selectAll" resultMap="BusketResultMap" parameterType="int">
		SELECT * FROM busket where m_num=#{m_num}
	</select>
	
	
	<insert id="insert" parameterType="com.kitri.myapp.busket.Busket" >
		INSERT INTO busket values(seq_busket.nextval, #{writer}, 
		#{title}, #{content}, #{model}, 
		#{count}, #{product_name}, #{price}, #{color},
		#{agency}, #{statement}, sysdate, #{m_num}, #{pb_num})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete busket where bk_num=#{bk_num}
	</delete>
	
	

</mapper>
