<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.myapp.sell.BoardMapper">
<!-- 이름영역 만듦 -->

	<resultMap type="com.kitri.myapp.sell.SellBoard" id="SellResultMap">
		<result property="pb_num" column="pb_num" />
		<result property="writer" column="writer" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="model" column="model" />
		<result property="count" column="count" />
		<result property="product_name" column="product_name" />
		<result property="price" column="price" />
		<result property="color" column="color" />
		<result property="agency" column="agecny" />
		<result property="statement" column="statement" />
		<result property="img_path" column="img_path" />
		<result property="w_date" column="w_date" />
		<result property="m_num" column="m_num" />
	</resultMap>
		
	<select id="select" resultMap="SellResultMap" parameterType="int">
		SELECT * FROM sell_ph_board where pb_num=#{pb_num}
	</select>
	
	<select id="selectAll" resultMap="SellResultMap">
		select * from sell_ph_board order by pb_num desc 
	</select>

	<select id="selectByParentNum" resultMap="SellResultMap" 
	parameterType="int">
		select * from sell_ph_board where parent=#{parent}
	</select>

	
	<select id="selectByWriter" resultMap="SellResultMap" 
	parameterType="String">
		select * from sell_ph_board where writer=#{writer}
	</select>
	
	<select id="selectBytitle" resultMap="SellResultMap" 
	parameterType="String">
		select * from sell_ph_board where title=#{title}
	</select>
	
	<select id="selectBycontent" resultMap="SellResultMap" 
	parameterType="String">
		select * from sell_ph_board where content = %#{content}%
	</select>
	
	<insert id="insert" parameterType="com.kitri.myapp.sell.SellBoard" >
		insert into sell_ph_board VALUES
		(SEQ_sell_ph_board.nextval, #{writer}, 
		#{title}, #{content}, #{model}, 
		#{count}, #{product_name}, #{price}, #{color}, 
		#{agency}, #{statement},  #{img_path}, sysdate, #{m_num})
	</insert>
	
	<update id="update" parameterType="com.kitri.myapp.sell.SellBoard">
		UPDATE sell_ph_board SET w_date = sysdate, 
		title=#{title}, content=#{content}, model=#{model}, 
		count = #{count}, color = #{color}, 
		agency = #{agency}, price = #{price}, 
		statement = #{statement}, img_path =  #{img_path}, 
		product_name=#{product_name} where pb_num=#{pb_num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM sell_ph_board WHERE pb_num=#{pb_num}
	</delete>

</mapper>
