@CHARSET "UTF-8";

<style>
.table12_4 table {
	width:100%;
	margin:15px 0;
	border:0;
}
.table12_4 th {
	background-color:#C3E7FA;
	color:#000000
}
.table12_4,.table12_4 th,.table12_4 td {
	font-size:0.95em;
	text-align:center;
	padding:4px;
	border-collapse:collapse;
}
.table12_4 th,.table12_4 td {
	border: 1px solid #afdff8;
	border-width:1px 0 1px 0;
	border:2px outset #ffffff;
}
.table12_4 tr {
	border: 1px solid #ffffff;
}
.table12_4 tr:nth-child(odd){
	background-color:#ebf7fd;
}
.table12_4 tr:nth-child(even){
	background-color:#ffffff;
}
.bt {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	text-indent:1px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#4d384d;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:43px;
	line-height:43px;
	width:87px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px -3px 0px #ffffff;
}
.bt:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.bt:active {
	position:relative;
	top:1px;
}</style>
